.list {
    position: relative;
    width: 100%;
    overflow: scroll;
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
}

.card {
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 15px;
    background-color: #4f4f4f;
    border-width: 0;
}