.anime-grid-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
    overflow-y: scroll;
    align-items: center;
}

.anime-card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.history-rating-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
}

.button__load-more {
    width: 40%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}